body{background-color: #f0e68c;}
h1{text-align: center;}
h1{color:darkblue;}
table{width: 100%;}
table{background-color: #e0e0e0;}
td{padding:10px;}
table a{color: brown;}
table a{font-size: 1.5em;}
table a{text-decoration: none;}
h2{text-align: center;}
h2{color: darkred;}
p{font-family: Arial;}
p{font-size: 16px;}
p{text-align: justify;}
